In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
pd.options.display.max_columns = None
df = pd.read_csv('cleaned_imdb_data.csv', encoding = 'ISO-8859-1')
df.head()

,Title,Release,Certificate,Runtime,Rating,Metascore,Summary,Gross,Director1,Director2,Actor1,Actor2,Actor3,Actor4,Genres,Genre1,Genre2,Genre3,is_animated,is_Adventure,is_Crime,is_Comedy,is_Drama,is_Sci-Fi,is_Thriller,is_Horror,is_Fantasy,is_Biography,is_Mystery,is_Romance,is_Sport,is_War,is_Western,Years since Release
0,Star Wars: Episode VII - The Force Awakens,2015,U,138,7.9,80.0,As a new threat to the galaxy rises Rey a dese...,936.66,J.J. Abrams,NaN,Daisy Ridley,John Boyega,Oscar Isaac,Domhnall Gleeson,"['Action', 'Adventure', 'Sci-Fi']",Action,Adventure,Sci-Fi,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,6
1,Avengers: Endgame,2019,UA,181,8.4,78.0,After the devastating events of Avengers: Infi...,858.37,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chris Hemsworth,"['Action', 'Adventure', 'Drama']",Action,Adventure,Drama,False,True,False,False,True,False,False,False,False,False,False,False,False,False,False,2
2,Avatar,2009,UA,162,7.8,83.0,A paraplegic Marine dispatched to the moon Pan...,760.51,James Cameron,NaN,Sam Worthington,Zoe Saldana,Sigourney Weaver,Michelle Rodriguez,"['Action', 'Adventure', 'Fantasy']",Action,Adventure,Fantasy,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,12
3,Black Panther,2018,UA,134,7.3,88.0,T'Challa heir to the hidden but advanced kingd...,700.06,Ryan Coogler,NaN,Chadwick Boseman,Michael B. Jordan,Lupita Nyong'o,Danai Gurira,"['Action', 'Adventure', 'Sci-Fi']",Action,Adventure,Sci-Fi,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,3
4,Avengers: Infinity War,2018,UA,149,8.4,68.0,The Avengers and their allies must be willing ...,678.82,Anthony Russo,Joe Russo,Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo,Chris Evans,"['Action', 'Adventure', 'Sci-Fi']",Action,Adventure,Sci-Fi,False,True,False,False,False,True,False,False,False,False,False,False,False,False,False,3

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                1500 non-null   object
 1   Release              1500 non-null   int64
 2   Certificate          1359 non-null   object
 3   Runtime              1500 non-null   int64
 4   Rating               1500 non-null   float64
 5   Metascore            1357 non-null   float64
 6   Summary              1500 non-null   object
 7   Gross                1500 non-null   float64
 8   Director1            1500 non-null   object
 9   Director2            103 non-null    object
 10  Actor1               1500 non-null   object
 11  Actor2               1499 non-null   object
 12  Actor3               1499 non-null   object
 13  Actor4               1499 non-null   object
 14  Genres               1500 non-null   object
 15  Genre1               1500 non-null   object
 16  Genre2               1494 non-null   object
 17  Genre3               1363 non-null   object
 18  is_animated          1500 non-null   bool
 19  is_Adventure         1500 non-null   bool
 20  is_Crime             1500 non-null   bool
 21  is_Comedy            1500 non-null   bool
 22  is_Drama             1500 non-null   bool
 23  is_Sci-Fi            1500 non-null   bool
 24  is_Thriller          1500 non-null   bool
 25  is_Horror            1500 non-null   bool
 26  is_Fantasy           1500 non-null   bool
 27  is_Biography         1500 non-null   bool
 28  is_Mystery           1500 non-null   bool
 29  is_Romance           1500 non-null   bool
 30  is_Sport             1500 non-null   bool
 31  is_War               1500 non-null   bool
 32  is_Western           1500 non-null   bool
 33  Years since Release  1500 non-null   int64
dtypes: bool(15), float64(3), int64(3), object(13)
memory usage: 244.8+ KB